[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rebar"]
	path = bundle/vim-rebar
	url = https://github.com/mbbx6spp/vim-rebar.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/tristen/vim-sparkup.git
[submodule "bundle/vim-web-indent"]
	path = bundle/vim-web-indent
	url = https://github.com/lukaszb/vim-web-indent.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
